*~
.DS_Store
*.class
*.so
*.dylib
target/
bin/
.classpath
.project
.cache
.settings
org.eclipse.jdt.core.prefs
lib/
!lib/toxicblendboost.jar
cmake_install.cmake
src/cpp/boost/CMakeFiles/
src/cpp/boost/CMakeCache.txt
src/cpp/boost/Makefile
*.pyc
*.blend1
*.blend2
